@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0 40px;
    background-image: url(./assets/sonata2.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
}

#loginORsignup {
    display: none;
    position: relative;
    top: 30%;
    left: 40%;
    width: 320px;
    height: 320px; /* Adjusted height to match width for a circular shape */
    background: black;
    background-image: url(./assets/catdp1.avif);
    backdrop-filter: blur(15px);
    transform: scaleY(-1);
    transform: scaleX(-1);
    background-position: center;
    background-size: cover;
    border-radius: 50%; /* Set border-radius to 50% to make it a circle */
    z-index: 2;
    transition: left 0.5s, top 0.5s;
}

#oasisbtn {
    display: flex;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 320px; /* Adjust the width and height to match the smaller dimension */
    height: 320px; /* Adjust the width and height to match the smaller dimension */
    background: black;
    background-image: url(./assets/save.jpg);
    background-position: center;
    background-size: cover;
    transform: scale(1);
    transition: transform 0.5s ease;
    border-radius: 50%; /* Set border-radius to 50% to make it a circle */
    z-index: 2;
    cursor: pointer;
}

    #oasisbtn:hover {
        -webkit-box-shadow: 5px 5px 50px 5px grey;
        box-shadow: 5px 5px 50px 5px grey;
    }

#login-box {
    background-color: rgba(240, 240, 240, 0.2);
    padding: 30px 120px;
    width: 550px;
    position: absolute;
    display: block;
    top: 23%;
    left: 5%;
    transform: scale(0);
    transition: transform 0.5s ease;
    text-align: center;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgb(1, 1, 1, 0.1);
}

    #login-box button {
        width: 100%;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        border-radius: 30px; /* Adjust border-radius to half of the button's height to make it a circle */
        background: transparent;
        border: 1px solid #999;
        font-weight: 500;
        cursor: pointer;
    }

    #login-box input {
        width: 100%;
        background: transparent;
        border: 1px solid #000;
        outline: 0;
        padding: 15px 10px;
        border-radius: 4px;
        margin: 10px 0;
    }


::placeholder {
    font-weight: 500;
    color: #333;
}

#login-box form button {
    background: #000;
    color: #fff;
    border: 0;
    margin-bottom: 15px;
}

#login-box hr {
    border: 0;
    height: 1px;
    background: #c2c2c2;
    margin: 5px;
}

#login-box p {
    padding-top: 10px;
}

#login-box span {
    display: none;
    width: 40px;
    margin: auto;
    background: #fff;
    font-size: 14px;
    margin-top: -16px;
}

/*signup*/

#signup-box {
    background-color: rgba(240, 240, 240, 0.2);
    padding: 30px 120px;
    width: 550px;
    position: absolute;
    display: block;
    top: 20%;
    left: 60%;
    transform: scale(0);
    transition: transform 0.5s ease;
    text-align: center;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgb(1, 1, 1, 0.1);
}

    #signup-box button {
        width: 100%;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        border-radius: 30px;
        background: transparent;
        border: 1px solid #999;
        font-weight: 500;
        cursor: pointer;
    }

    #signup-box input {
        width: 100%;
        background: transparent;
        border: 1px solid #000;
        outline: 0;
        padding: 15px 10px;
        border-radius: 4px;
        margin: 10px 0;
    }

    #signup-box form button {
        background: #000;
        color: #fff;
        border: 0;
        margin-bottom: 15px;
    }

    #signup-box hr {
        border: 0;
        height: 1px;
        background: #c2c2c2;
        margin: 5px;
    }

    #signup-box p {
        padding-top: 10px;
    }

    #signup-box span {
        display: none;
        width: 40px;
        margin: auto;
        background: #fff;
        font-size: 14px;
        margin-top: -16px;
    }
