body {
    margin: 32px;
    padding: 0px;
    font-family: Cinzel;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: rgb(208,189,206);
    background: linear-gradient(0deg, rgba(208,189,206,1) 26%, rgba(235,213,187,1) 58%, rgba(167,213,228,1) 92%);
    &::-webkit-scrollbar
                        {
                            display: none;
                        }
}

#home-nav-container {
    position: sticky;
    top: 0px;
    display: flex;
    background: #FFF3E1;
    justify-content: space-between;
    height: 16vh;
    border-bottom: solid 1px #808080;
    width: 100%;
}

#site-logo-container {
    display: flex;
    margin-left: 20px;
}

#site-logo-container #logo {
    width: 70px;
    height: 70px;
    padding: 20px;
}

.title {
    font-weight: 600;
    font-size: 50px;
    padding: 20px;
    margin-top: 12px;

    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
}

#slogan-line {
    justify-content: flex-start;
    color: #808080;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-top: 85px;

    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 8px;
}

.navBtn {
    display: inline-block;
    padding: 20px;
    font-size: 26px;
    text-decoration: none;
    border-radius: 50px;
    margin: 40px 30px 10px 10px;
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: 480;
    cursor: pointer;
}

#footer {
    display: flex;
    padding: 30px;
    justify-content: center;
    background-color: #3C638A;
    flex-direction: column;
    text-align:center;
}

.foot-text {
    word-wrap: break-word;
    padding: 20px;
    color: #FFF3E1;
}