#form-container {
    display: flex;
    justify-content: space-between;
    background: #FFF3E1;
}

#fillUp-container {
    padding: 20px;
    margin-left: 150px;
    margin-bottom: 150px;
    margin-top: 100px;
}

.form-column {
    display:flex;
    flex-direction: column;
}

.txtbox {
    width: 600px;
    height: 3vh;
}

.submitBtn {
    margin-top: 10px;
}

.nametxtbox {
    width: 294px;
    height: 3vh;
}

#page-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    align-content: center;
}

#dp-container {
    display: flex;
    margin-right: 150px;
    margin-bottom: 150px;
    margin-top: 100px;
}





