.call-img {
    width: 1600px;
    height: 800px;
}

#vid-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: #FFF3E1;
    padding: 100px 60px 60px 60px;
}

.backBtn {
    position: absolute;
    top: -1px;
    left: 60px;
    margin: 180px 0px 40px 0px;
    font-family: Lato;
    font-weight: bold;
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: #3C638A;
    cursor: pointer;
}

.backBtn:hover {
    text-decoration: underline;
}
