#welcome-page {
    display: flex;
    background: #FFF3E1;
    padding: 40px;
    scroll-behavior:smooth;
    justify-content: space-between;
}

h1 {
    color: #000;
    font-family: Cinzel;
    font-size: 65px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    word-break: break-all;
}

#welcome-title-container {
    margin-left: 25px;
    width: 689px;
}

#page-art {
    width: 600px;
    height: 600px;
    padding: 20PX;
}

#page-art2 {
    position: absolute;
    left: 10px;
}

#welcome-statement {
    margin-top: 30px;
    font-size: 28px;
    text-align: center;
}

startBtn-container {
    display:flex;
}

.startBtn {
    margin-top: 50px;
    margin-left: 60px;
    background-color: #3C638A;
    color: #FFF3E1;
    font-family: Cinzel;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
}

#about-page {
    display:flex;
    background-color: #FFF3E1;
    height: 70vh;
    justify-content:center;
    text-align:center;
    padding: 40px;
}

#about-page h1 {
    background: #FFF3E1;
}

#about-txt {
    display:flex;
}

#about-container {
    display: flex;
    width: 400px;
    text-align: center;
    background: transparent;
    border-radius: 30px;
    justify-content: center;
    margin: 20px 50px;
}

#login-signup-page {
    display: flex;
    background-color: #FFF3E1;
    height: 70vh;
    padding: 40px;
}

#login-container {
    padding: 50px 10%;
    width: 300px;
    text-align: center;
    margin-left:30%;
}

.input-field {
    width: 100%;
    background: transparent;
    border: 1px solid #000;
    outline: 0;
    padding: 15px 10px;
    border-radius: 4px;
    margin: 10px 0;
}

#login-btn {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #999;
    font-weight: 500;
    cursor: pointer;
}

#login-btnx {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #999;
    font-weight: 500;
    cursor: pointer;
}

#signup-btn {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #999;
    font-weight: 500;
    cursor: pointer;
}

#register-container {
    padding: 50px 10%;
    width: 300px;
    text-align: center;
    margin-left:31%;
    margin-bottom: 20%;

}

#regis-btnx {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #999;
    font-weight: 500;
    cursor: pointer;
}

#hatdog:hover, #hatdogx:hover {
    text-decoration: underline;
    cursor: pointer;
}
